.bgvideo {
    height: 70vh;
    width: 100%;
    position: relative;
}
.bgvideo video{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
.bgcard {
    height: 70vh;
    width: 100%;
    position: relative;
}
.bgcard img{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}


